:root {
  --color-primary: #bf616a;
  --color-secondary: #ebcb8b;
  --color-black: #2e3440;
  --color-surface: #e5e9f0;
  --color-outline: #d8dee9;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  color: var(--color-black);
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
